@import url('http://fonts.googleapis.com/css?family=Roboto:100,300');

*{
	box-sizing: border-box;
}

body{
	width: 80%;
	min-width: 1200px;
	margin: 0 auto;  
}

html{
	background-color: #101010;
}

#headerBar{
	height: 8vh;
	line-height: 8vh;
	background-color: #101010;
	border-bottom: 1px solid #666;
	text-align: right;
}

#headerSearch{
	line-height: 35px;
	height: 35px;
	background-color: #666;
	color: #eee;
	border: none;
	padding: 0em 1em;
	font-family: Roboto;
}

#headerSearchButton{
	line-height: 35px;
	height: 35px;
	width: 55px;
	background-color: #999;
	color: #eee;
	font-family: Roboto;
	font-size: 13px;
	text-align: center;
	display: inline-block;
}

	#headerSearchButton:hover{
		background-color: #0099FF;
		cursor: pointer;
		color: #fff;
	}
	
#headerTitle{
	font-family: Roboto;
	font-weight: 300;
	letter-spacing: 2px;
	float: left;
	color: #eee;
	margin: 0;
	line-height: 8vh;
}
	
#queryResults{
	position: absolute;
	top: 100px;
	z-index: 4;
	border-radius: 5px;
	border: 5px solid #eee;
	box-shadow: 3px 5px 20px -10px #000;
	box-sizing: content-box;
	background-color: #333;
	color: #eee;
	overflow-y: scroll;
}

.searchResult{
	line-height: 24px;
	color: #eee;
	font-family: Roboto;
	padding: 1em;
	border-bottom: 1px solid #666;
}

	.searchResult:hover{
		background-color: #666;
		cursor: pointer;
	}
	
	.searchP{
		margin-bottom: 0;
	}
	
	.searchResult p {
		margin: 1em 0;
	}
	
	.searchResult img{
		float: left;
		margin-right: 1em;
		width: 100px;
		height: 100px;
	}

#loadingScreen{
	color: #eee;
	background-color: #202020;
	"position": "absolute",
	z-index: 100;
	top: 0;
}

#loadingText{
	font-family: Roboto;
	font-size: 50px;
	width: 300px;
	margin: 0 auto;
}

#bgBlur{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 3;
	left: 0px;
	top: 0px;
}

#artistBlock{
	position: relative;
	float: left;
	border-bottom: 1px solid #666;
	width: 100%;
	padding: 1.2em;
}

#artistHeader{
	margin: 0;
	padding: 0 0.6em 0.7em;
	font-family: Roboto;
	color: #eee;
	font-weight: 100;
	display: block;
}

#artistPic{
	float: left;
	margin: 0em 1em 1em;
	width: 60%;
	border: 4px solid #ccc;
	border-radius: 5px;
}

#topTracks{
	float: left;
	width: 33%;
	margin: 0 1em 0 0;
}

#topTracksHeader{
	margin: 0;
	font-family: Roboto;
	color: #eee;
	font-weight: 100;
	border-bottom: 1px solid #666;
}

#topTracksList{
	font-family: Roboto;
	color: #eee;
	margin: 1em 0 0 2em;
	padding: 0;
}

.topTrackLi{
	margin: 0 0 1em 0;
}

#otherAlbums{
	display: block;
	clear: both;
	margin: 0em 1em 2em;
}

.otherAlbumArt{
	border-radius: 0px;
	margin: 0 1em 0 0;
}

#otherAlbumsHeader{
	margin: 0;
	padding: 0 .6em .6em 0;
	font-family: Roboto;
	color: #eee;
	font-weight: 100;
	display: block;
}

#relatedArtists{
	display: block;
	clear: both;
	margin: 1em 1em 0em;
}

#relatedArtistsHeader{
	margin: 0;
	padding: 0 .6em .6em 0;
	font-family: Roboto;
	color: #eee;
	font-weight: 100;
	display: block;
}

.relatedArtistPicWrapper{
	overflow: hidden;
	float: left;
	border-radius: 0px;
	margin: 0 1em 0 0;
	width: 64px;
	height: 64px;
}

.relatedArtistPic{
	height: 74px;
}

#hoverDiv{
	position: absolute;
	padding: .5em;
	height: 2em;
	font-family: Roboto;
	line-height: 1em;
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0px 2px 10px -5px #000;
}

.exitButton{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(153, 0, 0, 0.2);
	border: none;
	text-align: center;
	width: 45px;
	height: 25px;
	color: #eee;
	cursor: default;
}

	.exitButtonHover{
		background-color: #990000;
		cursor: pointer;
	}
	
.newAlbumArt{
	position: absolute;
	top: 100px;
	z-index: 4;
	border-radius: 5px;
	border: 5px solid #eee;
	box-shadow: 3px 5px 20px -10px #000;
	box-sizing: content-box;
}

.albumArtButton{
	background-color: #0099FF;
	color: #202020;
	font-family: Roboto;
	border: none;
	margin: 2em 0 2em 2.6em;
	padding: 1em;
	border-radius: 5px;
	clear: both;
	cursor: default;
}

	.albumArtButtonHover{
		background-color: #0066CC;
		cursor: pointer;
	}

.album{
	margin: 0;
	position: relative;
	padding: 1em;
	width: 100%;
	float: left;
	clear: left;
	cursor: pointer;
	box-sizing: content-box;
}

	.albumSelected{
	
	}

	.albumArt{
		float: left;
		border: none;
		outline: none;
		position: relative;
		border-radius: 2px;
	}
	
	.albumHeader2{
		margin: 0px 25px;
		position: relative;
		padding: 0;
		float: left;
		width: 50%;
		color: #f6f6f6;
		font-size: 30px;
		font-family: Roboto;
		font-weight: 100;
		z-index: 1;
	}
	
		.albumHeader2Selected{
			color: #00bbff;
		}
	
	.albumHeader3{
		margin: 15px 25px;
		position: relative;
		padding: 0;
		float: left;
		width: 50%;
		color: #ddd;
		font-family: Roboto;
		font-weight: 300;
		z-index: 1;
	}
	
		.albumHeader3Selected{
			color: #00bbff;
		}

.vinyl{
	position: absolute;
	left: 40px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: #101010;
	z-index: 0;
}

	.vinylSelected{
		left: 80px;
	}

.vinylHole{
	position: relative;
	width: 55px;
	height: 55px;
	margin: 45px auto;
	border-radius: 100%;
	background-color: #ddd;
	z-index: 2;
}

#tracksHeader{
	margin: 2em 0em 0em;
	padding-bottom: 1em;
	border-bottom: 1px solid #666;
}

#tracksH1, #tracksH2{
	margin: 24px 30px;
	font-family: Roboto;
	color: #eee;
	font-weight: 300;
}

#tracksList{
	position: relative;
	height: 92vh;
	width: 65%;
	float: right;
	background-color: #252525;
	z-index: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#tracksAlbumArt{
	float: left;
	width: 150px;
	height: 150px;
	margin: 0 1em 1em 2em;
	border-radius: 2px;
}

#albumList{
	width: 35%;
	min-width: 420px;
	height: 92vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.track{
	padding: .5em 2em;
	color: #eee;
	font-family: Roboto;
	border-bottom: 1px solid #666;
}

	.track:hover{
		background-color: #666;
	}

.track a {
	text-decoration: none;
	color: #ccc;
	float: left;
	width: 15em;
	line-height: 2em;
}

	.track a:hover{
		text-decoration: underline;
	}

.track span {
	float: right;
	line-height: 2em;
}

.track audio{
	float: left;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #101010;
}

::-webskit-scrollbar-track {
	
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    /*background-color: #bdc3c7; */
	background-color: #666;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #999;
}
